<mat-toolbar id="top_head" fxLayout="row" fxLayoutAlign= "space-between center" color="primary">
  <mat-toolbar-row fxFlexAlign="center" fxLayoutGap="12px" fxLayout="row" fxLayoutAlign= "space-between center">
    <a routerLink="" style="display: block;">Coink</a>
    <a routerLinkActive="action" routerLink="exchange/CRIX.UPBIT.KRW-BTC">거래소</a>
    <a>입출금</a>
    <a>투자내역</a>
    <a>코인동향</a>
    <a>고객센터</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center" fxFlexAlign="center">
    <div fxLayout="row" fxLayoutAlign="center" fxFlexAlign="end" fxLayoutGap="12px">
      <a style="margin-right: 12px">로그인</a>
      <a>회원가입</a>
      <mat-sidenav-container class="side-container" position="end" style="background-color: white;"
                             fxShow.gt-md="false" fxShow="true">
        <mat-sidenav style="background-color: white; height: 10000px; z-index: 10000 !important;
      position: fixed" #sidenav mode="over" [(opened)]="opened"  position="end">
          <div class="side-content" style="margin-top: 60px"
               routerLinkActive="action" routerLink="exchange/CRIX.UPBIT.KRW-BTC">
            <span>거래소</span>
          </div>
          <div class="side-content">
            <span>입출금</span>
          </div>
          <div class="side-content">
            <span>투자내역</span>
          </div>
          <div class="side-content">
            <span>코인동향</span>
          </div>
          <div class="side-content">
            <span>고객센터</span>
          </div>
          <div class="side-content">
            <span>로그인</span>
          </div>
          <div class="side-content">
            <span>회원가입</span>
          </div>
        </mat-sidenav>
        <mat-sidenav-content position="end" style="overflow: hidden; background-color: #3f51b5" >
          <button style="color: white; overflow: hidden; border-radius: 0;" mat-button (click)="open()" >
            <mat-icon>
              menu
            </mat-icon></button>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<div id="dark-overlay" class="dark-overlay" (click)="close()">

</div>
