@import "~src/assets/css/table"
@import "~src/assets/css/text"
@import "~src/assets/css/tab"
@import "~src/assets/css/button"

.purchase-container
  padding: 14px

#purchase-chart
  width: 490px
  height: 300px
  background-color: white
  @media screen and (max-width: 1279px)
    display: none


.purchase-table
  @extend %table
  box-shadow: none
  border-spacing: 8px

.purchase-row
  @extend %table-row
  span
    @extend %text-min

.purchase-left-cell
  @extend %table-cell
  @extend %text-thick
  width: 20%
  font-size: 20px
  span
    @extend %text-min
.purchase-right-cell
  @extend %table-cell
  @extend %text-thin
  width: 80%
  span
    @extend %text-min


#signin-button
  @extend %button-primary
  color: white
  a
    @extend %button-inside
#login-button
  @extend %button-darker
  a
  @extend %button-inside

.purchase-log
  height: 100%

button
  height: 40px
