/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'
@import "~src/assets/css/tab"
@import '~@angular/material/theming'
@include mat-core()


$my-app-primary: mat-palette($mat-indigo)
$my-app-accent: mat-palette($mat-pink, A200, A100, A400)

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent)
@include angular-material-theme($my-app-theme)

$mat-indigo: #2b2b2b

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Noto Sans KR', sans-serif
  font-weight: 700
  word-break: break-all


html, body
  margin: 0
  padding: 0
  height: 100%
  font-size: 14px
  background-color: #e9ecf1


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin: 0 0 0.5rem 0
  font-weight: 400
  line-height: 1.1
  color: inherit

div
  font-size: 16px


.container
  width: 100%

.primary-tab
  @extend %normal-tab

.tab-active
  @extend %active-tab

-webkit-scrollbar
  width: 8px

-webkit-scrollbar-track
  background: #f1f1f1
-webkit-scrollbar-thumb
  border-radius: inherit
  background: #888
-webkit-scrollbar-thumb:hover
  background: #555
